@model StudentenMaaltijd.Entity.Entity.Identity.LoginModel
@{
    ViewBag.Title = "Log In";
    Layout = "_Layout";
}

<div class="container">
    <h3>Login: </h3>
    <form asp-action="Login" asp-controller="Account" method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" class="form-control" />
        </div>
        <button class="btn btn-primary col-lg-6" type="submit">Log In</button>
    </form>
    <a class="btn-link col-lg-6" asp-action="Register"><button class="btn btn-primary">Registreer</button></a>
</div>
